@using Event = Flea.Models.Event;

<EditForm Model="Event" OnValidSubmit="OnValidSubmit">
    <div class="edit-form">
        <div class="edit-form-div">
            <label>Dato:</label>
            <input type="date" @bind="Event.DateTime"/>
        </div>
        <div class="edit-form-div">
            <label>Stand pris:</label>
            <input type="text" @bind="Event.TablePrice"/>
        </div>
        <div class="edit-form-div">
            <label>Antal stativer:</label>
            <input type="text" @bind="Event.ClothesRackAmount"/>
        </div>
        <div class="edit-form-div">
            <label>Stativ pris:</label>
            <input type="text" @bind="Event.ClothesRackPrice"/>
        </div>
    </div>
</EditForm>


@code {

    [Parameter]
    public int EventAmount { get; set; }= 1;

    [Parameter]
    public Event Event { get; set; } = null;
    
    [Parameter]
    public List<Event> TempEvents { get; set; }
    
    [Parameter]
    public EventCallback<EditContext> OnValidSubmit { get; set; }
    
    [Parameter]
    public Modal Modal { get; set; }
}