.customer-overview {
    margin: 2em 2em 0 2em;
}

.customer-overview > div {
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: baseline;
    width: 100%;
    margin-bottom: 1em;
}

#display-inline {
    display: inline;
}

.text-area {
    resize: vertical;
    padding: 10px;
}