@using Flea.Models
@using Flea.Pages
@using Flea.Utility

<EditForm Model="Customer" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="edit-form">
        @if (Customer.Id == 0)
        {
            <div class="edit-form-div">
                <div>Navn på loppe:</div>
                <InputText class="search-input edit-search-input" maxlength="64" placeholder="Eks. Hans Henriksen"
                           @bind-Value="Customer.Name"/> @*Indsæt søgefelt med oprettet kunder *@
            </div>
        }
        else
        {
            <div class="edit-form-div">
                <div>Loppe:</div>
                <InputText class="search-input edit-search-input" disabled=""
                           @bind-Value="Customer.Name"/>
            </div>
        }
        <div class="edit-form-div">
            <div>Kalde navn på loppe:</div>
            <InputText class="search-input edit-search-input" maxlength="64" placeholder="HH"
                       @bind-Value="Customer.Nickname"/>
        </div>
        <div class="edit-form-div">
            <div>Telefon-nummer: </div>
            <InputText class="search-input edit-search-input" maxlength="8" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Eks. 12345678"
                       @bind-Value="Customer.PhoneNumber"></InputText>
        </div>
        <div id="move-down">
            <button type="submit" class="button create-button button--outline">@(Customer.Id == 0 ? "Opret Loppe" : "Gem ændringer")</button>
            <button class="button button del-button button--outline" type="button" @onclick="@Modal.ModalCancel">Cancel</button>
        </div>
    </div>
</EditForm>

@code
{
    [Parameter, RequiredParameter]
    public Customer Customer { get; set; } = null!;
    
    [Parameter, RequiredParameter]
    public EventCallback<EditContext> OnValidSubmit { get; set; }

    [Parameter, RequiredParameter]
    public Modal Modal { get; set; } = null!;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ParameterChecker.CheckParameters(this);
    }
    
}