.event-list {
    background-color: var(--ios-bg);
    padding: 10px;
    border-radius: 20px;
    border: 2px solid var(--ios-fg);
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    margin-bottom: 20px;
}

.nav {
    background-color: var(--ios-g3);
    color: var(--ios-fg);
    border-radius: 3px;
    border: none;
    height: 48px;
    width: 280px;
}

.font-size-xx-large {
    font-size: xx-large;
}

.font-size-larger, .font-size-larger-unicorn {
    font-size: larger;
}

.font-size-larger-unicorn{
    display: flex;
    align-items: end;
}