@using Event = Flea.Models.Event;
@inject NavigationManager _navigationManager;


<div class="event-list">
    <div class="font-size-xx-large">@Event.Name </div>
    <button class="button button--outline" @onclick='() => Navigate($"/Event/{Event.Id}/Reservations")'>Bookinger</button>
    <div class="font-size-larger-unicorn">@Event.ComputeRemainingTables ledige stande </div>
    <button class="button button--outline" @onclick='() => Navigate($"/Event/{Event.Id}/Placement")'>Placeringer</button>
    <div class="font-size-larger">@Event.ComputeMissingPayments mangler at betale </div>
    <button class="button button--outline" @onclick='() => Navigate($"/Event/{Event.Id}/Market")'>Loppemarked</button>
</div>

@code {
    [Parameter]
    public Event Event { get; set; }

    public void Navigate(string destination)
    {
        NavMenu.EventId = Event.Id;
        _navigationManager.NavigateTo(destination);
    }
}