
@using Event = Flea.Models.Event;

<div class="event-list">
    <div class="font-size-xx-large">@Event.Name </div>
    <button class="button button--outline">Booking ></button>
    <div class="font-size-larger-unicorn">@Event.ComputeRemainingTables ledige stande </div>
    <button class="button button--outline">Placering ></button>
    <div class="font-size-larger">@Event.ComputeMissingPayments mangler at betale </div>
    <button class="button button--outline">Loppemarked ></button>
</div>

@code {
    [Parameter]
    public Event Event { get; set; }

    // Add functionality for buttons here.
}