<li class="list-item">
    <div>
        <h2>@Date </h2>
        <p>@RemainingTables ledige stande </p>
        <p>@MissingPayments mangler at betale </p>
        <button class="button">Booking ></button>
        <button class="button">Placering ></button>
        <button class="button">Loppemarked ></button>
    </div>
</li>

@code {
    [Parameter]
    public int ID { get; set; }
    
    [Parameter]
    public string Date { get; set; }
    
    [Parameter]
    public int RemainingTables { get; set; }
    
    [Parameter]
    public int MissingPayments { get; set; }
}