@inherits LayoutComponentBase

<div class="container">
    
    <header class="site-header">
        <div class="logo">
            <a href="#" class="brand"><img src="./icons/logo.svg" alt="brand"/></a>
        </div>
        
        <div class="page-title">@_headerTitle</div>
    </header>
    
    <div class="below-header">
        
        <div class="navigation-bar">
            <NavMenu/>
        </div>
            
        <div class="content">
            @Body
        </div>
        
    </div>

</div>

@code
{
    private static MainLayout _instance;
    private static string _headerTitle;
    
    public static string HeaderTitle
    {
        get => _headerTitle;
        set
        {
            _headerTitle = value;
            _instance.StateHasChanged();
        } 
    }

    public MainLayout()
    {
        _instance = this;
    }
}
