.container {
    font-family: Poppins, sans-serif;
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
}

.site-header {
    background-color: var(--ios-g1);
    border-bottom: 2px solid var(--ios-g4);
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: sticky;
    display: flex;
    flex-flow: row;
}

.logo {
    padding-left: 1.563rem;
}

.page-title {
    font-size: 20px;
    text-align: right;
    padding-right: 20px;
}

.below-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.navigation-bar {
    background-color: var(--ios-g1);
    border-right: 2px solid var(--ios-g4);
    width: 5rem;
    height: 100%;
    position: sticky;
}

.content {
    flex: 1;
    overflow-y: scroll;
    height: 100%;
}