@inherits LayoutComponentBase

<div class="container">
    
    <header class="site-header">
        <div class="logo">
            <a href="#" class="brand"><img src="./icons/logo.svg" alt="brand"/></a>
        </div>
        
        <div class="page-title">@_headerTitle</div>
    </header>
    
    <div class="below-header">
        
        <div class="navigation-bar">
            <NavMenu/>
        </div>

        <div class="content px-4" style="overflow-y: scroll; height: calc(100vh - 56px);">
            @Body
        </div>
    </div>
</div>

@code
{
    private static MainLayout _instance = null!;
    private static string _headerTitle = string.Empty;
    
    public static string HeaderTitle
    {
        get => _headerTitle;
        set
        {
            _headerTitle = value;
            _instance.StateHasChanged();
        } 
    }

    public MainLayout()
    {
        _instance = this;
    }
}
