<button class="@ButtonCSS" @onclick="@ModalShow">@ButtonName</button>
@if (_showModal)
{
    <div class="modal fade show modal-display" id="myModal" aria-modal="true" role="dialog"
         style="overflow-y: scroll; height: calc(100vh - 260px);">
        <div class="modal-dialog">
            <div class="modal-content">
                @ChildContent
            </div>
        </div>
    </div>
}
@code
{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    [Parameter]
    public string ButtonName { get; set; } = string.Empty;
    
    [Parameter]
    public string ButtonCSS { get; set; } = string.Empty;

    private bool _showModal = false;
    private void ModalShow() => _showModal = true;
    public void ModalCancel() => _showModal = false;
}