.modal-dialog {
    background-color: var(--ios-bg);
    border: 1px solid var(--ios-g4);
    border-radius: 11px;
    margin: 0 auto;
    margin-top: 12.5%;
    width: 60%;
    padding-bottom: 1em;
}

.modal-display {
    display: block;
    background-color: transparent
}