<button class="button @ButtonClass" @onclick="@ModalShow">@ButtonName</button>
@if (ShowModal)
{
    <div class="modal fade show" id="myModal" style="display:block; background-color: transparent;" aria-modal="true" role="dialog">
        <div class="modal-dialog" style="background-color:black; color:whitesmoke; display: flex;margin: 15%;">
            <div class="modal-content" >

                @ChildContent

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="button button--outline del-button" @onclick="@ModalCancel">Cancel</button>
                </div>

            </div>
        </div>
    </div>
}
@code
{
    [Parameter]
    public string ButtonClass { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    [Parameter]
    public string ButtonName { get; set; }
    
    [Parameter]
    public bool ShowModal { get; set; }
    
    public void ModalShow()=> ShowModal = true;

    public void ModalCancel() => ShowModal = false;
        

    protected override void OnInitialized()
    {
        ShowModal = false;
    }
}