@inject NavigationManager _navigationManager
@using Flea.Pages

<!-- Flea logo -->
<div class="logo">
    <img src="./loppe.svg" alt=""/>
</div>

<!-- NavBar -->
<div>
    <ul class="list">
        <NavTab Href="/Home" Icon="home">Hjem</NavTab>
        <NavTab Href="/Reservations" Icon="description">Booking</NavTab>
        <NavTab Href="/Placing" Icon="place">Placér</NavTab>
        <NavTab Href="/Market" Icon="storefront">Market</NavTab>
        <NavTab Href="/Customers" Icon="person_outline">Loppe</NavTab>
    </ul>
</div>