@inject NavigationManager _navigationManager
@using Flea.Pages

<!-- Flea logo -->
<div class="logo">
    <img src="./loppe.svg" alt="Du blind, så det kan være lige møj"/>
</div>

<!-- NavBar -->
<div>
    <ul class="list">
        <NavTab Href="/Home" Icon="home">Hjem</NavTab>
        <NavTab Href="/Booking" Icon="description">Book</NavTab>
        <NavTab Href="/Placing" Icon="place">Placér</NavTab>
        <NavTab Href="/Market" Icon="storefront">Market</NavTab>
        <NavTab Href="/Customer" Icon="person_outline">Loppe</NavTab>
    </ul>
</div>