<!-- Flea logo -->
<div class="logo">
    <img src="./loppe.svg"/>
</div>

<!-- NavBar -->
<div>
    <ul class="list">
        <!--(Insert Href when page is created) -->
        <NavTab Href="/Home" Icon="home">Hjem</NavTab>
        <NavTab Href="/Booking" Icon="description">Book</NavTab>
        <NavTab Href="/Placing" Icon="place">Placér</NavTab>
        <NavTab Href="/Market" Icon="storefront">Market</NavTab>
        <NavTab Href="/Customer" Icon="person_outline">Loppe</NavTab>
    </ul>
</div> 