<!-- Flea logo -->
<div class="logo">
    <img src="./loppe.svg"/>
</div>

<!-- NavBar -->
<div>
    <ul class="list">
        <!--(Insert Href when page is created) -->
        <NavTab Href="/" Icon="home">Hjem</NavTab>
        <NavTab Href="/Booking" Icon="description">Book</NavTab>
        <NavTab Href="/counter" Icon="place">Placér</NavTab>
        <NavTab Href="/" Icon="storefront">Market</NavTab>
        <NavTab Href="/" Icon="person_outline">Loppe</NavTab>
    </ul>
</div> 