@using Flea.Models
@using Reservation = Flea.Models.Reservation

<div class="reservation-li">
    <div class="txt">@Reservation.ReservationOwner.Name</div>
    <div class="txt">@Reservation.TableCount Stande</div>
    <div class="txt">@(Reservation.Paid ? "Betalt" : "Ej betalt")</div>
    <button class="button del-button button--outline" @onclick="Delete">Slet</button>
    <Modal ButtonName="Rediger" @ref="_child">
        <ReservationForm Reservation="_temp" OnValidSubmit="OnSubmit" Modal="_child"></ReservationForm>
    </Modal>
</div>

@code {
    private Modal _child = null!;
    private Reservation _temp = new(0, 0, false, "",new Customer("", ""));
    private Reservation _reservation = null!;

    [Parameter]
    public Reservation Reservation
    {
        get => _reservation;
        set
        {
            _reservation = value;
            _temp = Reservation.Clone();
        }
    }

    [Parameter]
    public EventCallback<Reservation> OnDelete { get; set; }
    
    [Parameter]
    public EventCallback<EditContext> OnEdit { get; set; }

    public async Task Delete()
    {
        await OnDelete.InvokeAsync(Reservation);
    }

    public async Task OnSubmit(EditContext context)
    {
        _child.ModalCancel();
        
        Reservation.TableCount = _temp.TableCount;
        Reservation.Paid = _temp.Paid;
        Reservation.Comments = _temp.Comments;
        
        await OnEdit.InvokeAsync(context);
        
    }
}