@using Flea.Models
<div class="reservation-li">
    <div class="txt">@Reservation.ReservationOwner.Name</div>
    <div class="txt">@Reservation.TableCount Stande</div>
    <div class="txt">@(Reservation.Paid ? "Betalt" : "Ej betalt")</div>
    <button class="button del-button button--outline" @onclick="Delete">Slet</button>
    <button class="button edit-button" @onclick="Edit">Rediger</button>
</div>

@code {
    [Parameter]
    public Reservation Reservation { get; set; }

    [Parameter]
    public EventCallback<string> OnDelete { get; set; }
    
    [Parameter]
    public EventCallback<string>OnEdit { get; set; }

    public async Task Delete()
    {
        await OnDelete.InvokeAsync(Reservation.ReservationOwner.Name);
    }

    public async Task Edit()
    {
        await OnEdit.InvokeAsync(Reservation.ReservationOwner.Name);
    }
}