.edit-form {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    align-items: stretch;
    margin: 2em 2em 0 2em;
}

.edit-search-input-form{
    width: auto;
}

.edit-form-div {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
}

#move-down {
    margin-top: 40px;
}

#move-div {
    display: inline-block;
    margin-left: 10px;
}