@using Flea.Models

<EditForm Model="Reservation" OnValidSubmit="OnValidSubmit">
    <div class="edit-form">
        @if (Reservation.Id == 0)
        {
            <div class="edit-form-div">
                <div>Søg efter loppe:</div>
                <InputText class="search-input edit-search-input" placeholder="Eks. Hans Henriksen"
                           @bind-Value="Reservation.ReservationOwner.Name"/> @*Indsæt søgefelt med oprettet kunder *@
            </div>
        }
        else
        {
            <div class="edit-form-div">
                <div>Loppe:</div>
                <InputText class="search-input edit-search-input" disabled=""
                           @bind-Value="Reservation.ReservationOwner.Name"/> @*Indsæt søgefelt med oprettet kunder *@
            </div>
        }
        <div class="edit-form-div">
            <div>Antal stande: </div>
            <InputNumber class="search-input edit-search-input" placeholder="Eks. 3"
                         @bind-Value="Reservation.TableCount"></InputNumber>
        </div>
        <div class="edit-form-div">
            <div>Betalt?: </div>
            <label class="checkbox">
                <InputCheckbox type="checkbox" class="checkbox__input"
                               @bind-Value="Reservation.Paid"></InputCheckbox>
                <div class="checkbox__checkmark"></div>
                <div id="move-div">@(Reservation.Paid ? "Betalt" : "Ej betalt")</div>
            </label>
        </div>
        <div class="edit-form-div">
            <div>Bemærkninger: </div>
            <InputText class="search-input edit-search-input" placeholder="Eks. Handicap, tæt på rygerrum mm."
                       @bind-Value="Reservation.Comments"></InputText>
        </div>
        @* <div> *@
        @*     <label>Bod type: </label> *@
        @*     <InputText @bind-Value="Temp.Comments"></InputText> *@
        @* </div> *@
        @* <div> *@
        @*     <label>Leje af tøj stativ: </label> *@
        @*     <InputNumber @bind-Value="Temp.Comments"></InputNumber> *@
        @* </div> *@
        @* <div> *@
        @*     <label>Bemærkninger: </label> *@
        @*     <InputText @bind-Value="Temp.Comments"></InputText> *@
        @* </div> *@
        <div id="move-down">
            <button type="submit" class="button create-button button--outline">@(Reservation.Id == 0 ? "Opret booking" : "Gem ændringer")</button>
            <button class="button button del-button button--outline" type="button" @onclick="@Modal.ModalCancel">Cancel</button>
        </div>
    </div>
</EditForm>

@code {

    [Parameter]
    public Reservation Reservation { get; set; } = null!;
    
    [Parameter]
    public EventCallback<EditContext> OnValidSubmit { get; set; }

    [Parameter]
    public Modal Modal { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (Reservation == null!)
        {
            throw new ArgumentNullException(nameof(Reservation),"Parameter Reservation can never be null");
        }
    }
    
}