.reservation-overview {
    margin: 2em 2em 0 2em;
}

.reservation-overview > div {
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: baseline;
    width: 100%;
    margin-bottom: 1em;
}

#display-inline {
    display: inline;
}

.text-area {
    resize: vertical;
    padding: 10px;
}

.floating-dropdown{
    position: relative;
}

.floating-dropdown .show-customer {
    position: absolute;
    z-index: 1000;
    background-color: var(--ios-g2);
    width: 100%;
    box-sizing: border-box;
    border-radius: 9px 9px 9px 9px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    margin-top: 0;
    font-size: small;
}

.show-customer {
    width: 100%;
}

.show-customer > div {
    padding-bottom: 10px;
    font-size: small;
}

/* This is yoinked form the internet ----*/
.close {
    overflow: hidden;
    position: relative;
    border: none;
    padding: 0;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: transparent;
    color: var(--ios-g4);
    font: inherit;
    text-indent: 100%;
    cursor: pointer;
    right: 45px
}

.close-hidden{
    display: none;
}

.close :focus {
     outline: solid 0 transparent;
     box-shadow: 0 0 0 2px var(--ios-g6);
 }

.close :hover {
     background: rgba(29, 161, 142, .1)
 }

.close:before, .close:after {
   position: absolute;
   top: 0; left: calc(50% - .0625em);
   width: .125em; height: 70%;
   border-radius: .125em;
   transform: rotate(45deg);
   background: currentcolor;
   content: '';
}

.close:after { transform: rotate(-45deg); }

/* -------------- */