<div class="table @(Inner?.Reservation != null ? "table-on" : "table-off")" @onclick="OnTableClicked">
    @Inner?.Id
</div>

@code {
    [Parameter]
    public EventCallback<(int,int)> OnTableSelect { get; set; }

    [Parameter] 
    public Models.Table? Inner { get; set; }

    private async Task OnTableClicked()
    {
        if(Inner != null)
            await OnTableSelect.InvokeAsync((Inner.Id, Inner.Cluster.Id));
    }
    protected override void OnInitialized()
    {
        Inner ??= new Models.Table(Models.Table.TableType.Empty){Id = 0};
    }
}
