<div class="table @Class @(Inner.Reservation != null ? "reserved" : "")" value="@PathId" @onclick="OnTableClicked">
    @TableIndex
</div>

@code {
    [Parameter]
    public EventCallback<(Models.Table,Models.Cluster,int)> OnTableSelect { get; set; }

    [Parameter]
    public Models.Table Inner { get; set; } = null!;

    [Parameter]
    public string? Class { get; set; }
    
    [Parameter]
    public int TableIndex { get; set; }

    [Parameter]
    public int PathId { get; set; }
    
    private async Task OnTableClicked()
    {
        await OnTableSelect.InvokeAsync((Inner, Inner.Cluster, PathId));
    }
    protected override void OnInitialized()
    {
        Class ??= "";
    }
}
