<div class="table @Class @(Inner.Reservation != null ? "on" : "off")" @onclick="OnTableClicked">
    @Inner.Id
</div>

@code {
    [Parameter]
    public EventCallback<(int,int)> OnTableSelect { get; set; }

    [Parameter]
    public Models.Table Inner { get; set; }

    [Parameter]
    public string? Class { get; set; }
    
    [Parameter]
    public int TableIndex { get; set; }
    
    [Parameter]
    public int ClusterIndex { get; set; }
    
    private async Task OnTableClicked()
    {
        await OnTableSelect.InvokeAsync((TableIndex, ClusterIndex));
    }
    protected override void OnInitialized()
    {
        Class ??= "";
    }
}
