<div class="customer-item">
    <div class="txt">ID: @Id.ToString().PadLeft(4, '0')</div>
    <div class="txt">@Name</div>
    <div class="txt">@TeleNumber</div>
    <button class="button del-button" @onclick="Delete">Slet</button>
    <button class="button edit-button" @onclick="Edit">Rediger</button>
</div>

@code {

    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string TeleNumber { get; set; }

    [Parameter]
    public EventCallback<int> OnDelete { get; set; }

    [Parameter]
    public EventCallback<int> OnEdit { get; set; }

    public async Task Delete()
    {
        await OnDelete.InvokeAsync(Id);
    }

    public async Task Edit()
    {
        await OnEdit.InvokeAsync(Id);
    }

}