@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../css/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* fallback */
@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(../css/fonts/MaterialIconsOutlined-Regular.otf) format('opentype');
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


:root {
    /* iOS dark theme background and foreground */
    --ios-bg: #000;
    --ios-fg: #fff;
    
    /* iOS dark theme grays */
    --ios-g1: rgb(28, 28, 30);
    --ios-g2: rgb(44, 44, 46);
    --ios-g3: rgb(58, 58, 60);
    --ios-g4: rgb(72, 72, 74);
    --ios-g5: rgb(99, 99, 102);
    --ios-g6: rgb(142, 142, 147);
    
    /* iOS dark theme colors */
    --ios-red: rgb(255, 69, 58);
    --ios-orange: rgb(255, 159, 10);
    --ios-yellow: rgb(255,214,10);
    --ios-green: rgb(48,209,88);
    --ios-mint: rgb(102,212,207);
    --ios-teal: rgb(64,200,224);
    --ios-cyan: rgb(100,210,255);
    --ios-blue: rgb(10, 132, 255);
    --ios-indigo: rgb(94, 92, 230);
    --ios-purple: rgb(191, 90, 242);
    --ios-pink: rgb(255, 55, 95);
    --ios-brown: rgb(172, 142, 104);

    --ios-orange-raw: 255, 159, 10;
    
    --table-large: 2.50em;
    --table-small: 1.25em;
    --table-small-gap: 0.625em;
    
    background: var(--ios-bg);
    color: var(--ios-fg);
    height: 50vh;
}

.red {
    background-color: var(--ios-red);
}
.orange {
    background-color: var(--ios-orange);
}
.blue {
    background-color: var(--ios-blue);
}

.green {
    background-color: var(--ios-green);
}


.pink {
    background-color: var(--ios-pink);
}
.white {
    background-color: var(--ios-fg);
}
.grey1 {
    background-color: var(--ios-g1);
}
.grey2 {
    background-color: var(--ios-g2);
}


.large-button {
    margin: 0 auto;
    width: calc(100% - 1em);
}

.padded-content {
    padding: 1.1rem 20px 20px;
    height: calc(100% - 2.2rem);
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.scrollable {
    height: 100%;
    overflow-y: scroll;
}

.center {
    margin: 0 auto;
    width: fit-content;
}

.container.event-placement {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100%;
}

.guides {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-column-gap: var(--table-small);
}

.guide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: var(--table-small);
}

.ball {
    width: 1em;
    height: 1em;
    margin-right: var(--table-small-gap);
    border-radius: 100%;
    border: var(--ios-fg) solid;
}

body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
}
.side-panel {
    position: relative;
    height: calc(100% - 2em);
    z-index: 2;
    float: left;
    transition: 4s;
    padding: 1em;
    background-color: var(--ios-g1);
}

.side-panel .card {
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    margin: 0 0 16px;
}

.side-panel .buttons {
    position: absolute;
    bottom: 2em;
    padding: 0 0.5em;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    left: 0;
}

.side-panel .name {
    font-size: x-large;
    font-weight: bolder;
}
.side-panel .container {
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    align-items: center;
}

.side-panel .container .status {
    width: max-content;
    font-weight: bolder;
    padding: 0.5em;
    border-radius: 3px;
}

.side-panel .booths {
    font-size: medium;
}
.side-panel .comments {
    font-size: medium;
}
.table {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--ios-bg);
    color: var(--ios-bg);
}
.table.vertical {
    width: var(--table-large);
    height: var(--table-small);
}
.table.horizontal {
    width: var(--table-small);
    height: var(--table-large);
}
.table.bottom {
    margin-top: var(--table-small);
}

.cluster.border{
    border: var(--ios-fg) solid 2px;
}
.cluster-body {
    height: max-content;
    padding-top: 1.1rem;
}

.cluster {
    position: relative;
    display: grid;
    width: max-content;
    grid-template-columns: repeat(4, max-content);
    border: var(--ios-bg) solid 1px;
    row-gap: var(--table-small-gap);
}

.cluster-tag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.clusters.middle-top {
    grid-template-columns: repeat(4, max-content);
    grid-auto-flow: row;
    row-gap: var(--table-small-gap);
    column-gap: var(--table-small);
}
.clusters.middle {
    grid-template-rows: repeat(3, max-content);
    grid-auto-flow: column;
}
.clusters.upper {
    grid-template-columns: repeat(5, max-content);
    grid-auto-flow: row;
    column-gap: var(--table-small);
    row-gap: var(--table-small-gap);
}
.clusters.lower {
    grid-template-columns: repeat(3, max-content);
    grid-auto-flow: row;
}
.clusters{
    display: grid;
    width: fit-content;
    row-gap: var(--table-small);
    column-gap: var(--table-small);
    margin-bottom: var(--table-small);
}

.sidebar .tabbar--material {
    box-shadow: unset;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


/* TopBar - To make navbar transparent so it match sidebar color*/
.list, .tabbar--material{
    background-color: transparent;
    background: none;
}
    
/* SideBar - To edit li padding in SideBar*/
.list-item{
    padding: 0;
}

/* SideBar - To edit logo*/
.logo{
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* To change color of the line under the different tabs*/
.tabbar--material__button:after{
    background-color: #ffa101;
}

.view-head {
    height: 40px;
    margin-bottom: 50px;
}

/* Search field*/
.search-input{
    width: 50%;
    height: 40px;
    vertical-align: baseline;
    background-color: var(--ios-g1);
}

.edit-search-input {
    background-image: none;
    width: 100%;
}

/* Grid container for reservation and customer*/
.customer-item, 
.reservation-li {
    background-color: var(--ios-g1);
    padding: 10px;
    border-radius: 11px;
    display: grid;
    
    grid-gap: 10px;
    margin-bottom: 20px;
}

/* Template for reservation*/
.reservation-li {
    grid-template-columns: auto 12.5% 12.5% 10% 15%;
}

/* Template for customer*/
.customer-item{
    grid-template-columns: auto 30% 25% 10% 15%;
}

/* Create new booking and customer button*/
.create-button {
    border-radius: 9px;
    height: 40px;
    float: right;
}

/* Delete button for each booking and customer*/
.del-button{
    background: transparent;
    border-color: var(--ios-red);
    color: var(--ios-red);
    border-radius: 9px;
}

/* Edit button for each booking and customer*/
.edit-button{
    color: var(--ios-orange);
    background-color: rgba(var(--ios-orange-raw), 0.25);
    border-radius: 9px;
}

/* Allign text for displayed data in grid columns */
.txt {
    display: flex;
    align-items: center;
}

.scroll {
    overflow-y: scroll;
    height: 100%;
}


.date {
    font-weight: bold;
    color: var(--ios-blue);
}
.animation-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.animation-container img {
    -moz-animation: swing 5s infinite;
    -webkit-animation: swing 5s infinite;
    -o-animation: swing 5s infinite;
    animation: swing 5s infinite;
    width: 60%;
}

@-webkit-keyframes swing {
    20% { -webkit-transform: rotate(15deg); }
    40% { -webkit-transform: rotate(-15deg); }
    60% { -webkit-transform: rotate(15deg); }
    80% { -webkit-transform: rotate(-15deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@keyframes swing {
    20% { transform: rotate(15deg); }
    40% { transform: rotate(-15deg); }
    60% { transform: rotate(15deg); }
    80% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}




