.Modal-row-cus {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Modal-row-edit-cus {
    background-color: var(--ios-g1);
    padding: 10px;
    border-radius: 11px;
    display: grid;
    grid-gap: 10px;
    margin-bottom: 20px;
    grid-template-columns: auto 40%;
}