@page "/"
@page "/Home"
@using Event = Flea.Models.Event;

<div>
    <div class="view-head">
        <input class="search-input" @bind-value="_searchTerm" @bind-value:event="oninput" placeholder="Søg efter loppemarked..."/>
        <Modal ButtonName="Tilføj nyt loppemarked" @ref="child">
            <EditForm Model="_temp" OnValidSubmit="AddEventItem">
                <div>
                    <h5>Hvor mange loppemarkeder ønsker I at oprette?</h5>
                    <label>Antal loppemarkeder: </label>
                    <input type="text" @bind="_eventAmount" >
                </div>
                @if (_eventAmount > 0)
                {
                    _tempEvents.Clear();
                    for (int i = 0; i < _eventAmount; i++)
                    {
                        _tempEvents.Add(new Event("", DateTime.Today));
                    }       
                    foreach (var temp in _tempEvents)
                    {
                        <div>
                            <p>
                                <label>Dato:</label>
                                <input type="date" @bind-value="temp.DateTime"/>
                            </p>
                            <p>
                                <label>Stand pris:</label>
                                <input type="text" @bind-value="temp.TablePrice"/>
                            </p>
                            <p>
                                <label>Antal stativer:</label>
                                <input type="text" @bind-value="temp.ClothesRackAmount"/>
                            </p>
                            <p>
                                <label>Stativ pris:</label>
                                <input type="text" @bind-value="temp.ClothesRackPrice"/>
                            </p>
                        </div>
                    }
                }    
                <button type="submit">Tilføj loppemarked ></button>
            </EditForm>
        </Modal>
    </div>

    <!-- Creates event items for each event that matches the user's search term -->
    @if (DummyEventDB.Count == 0)
    {
        <h2>Der er ingen loppemarkeder at vise...</h2>
    }
    else if (FilteredEvents.Count == 0)
    {
        <h2>Der er ingen loppemarkeder, som matcher søgekriterierne...</h2>
    }
    else
    {
        foreach (Event e in FilteredEvents)
        {
            <div>
                <EventListItem Event="@e"></EventListItem>
            </div>
        }
    }
</div>

@code {
    Modal child;
    private Event _temp = new Event("", DateTime.Today);
    private string _searchTerm { get; set; } = "";
    private int _eventAmount = 1;
    
    // Placeholder event database. 
    private List<Event> DummyEventDB = new();

    // List of events from database that match the search term.
    List<Event> FilteredEvents => 
        DummyEventDB.Where(i => i.DateTime.ToString().ToLower().Contains(_searchTerm.ToLower())).ToList();

    public void AddEventItem()
    {
        DummyEventDB.AddRange(_tempEvents);
        DummyEventDB.Sort((x, y) => x.DateTime.CompareTo(y.DateTime));
    }

    List<Event> _tempEvents = new List<Event>();

    
    public void CreateTempEvents()
    {
        _tempEvents.Clear();
        for (int i = 0; i < _eventAmount; i++)
        {
            _tempEvents.Add(new Event("", DateTime.Today));
        }
    }

}