@page "/"
@page "/Home"

@inject IDbContextFactory<BingoContext> _dbFactory

@using Event = Flea.Models.Event;
@using Flea.Models
@using Flea.Utility
@using Microsoft.EntityFrameworkCore

<div>
    <div class="view-head">
        <input class="search-input" type="search" value="" @oninput="Search" placeholder="Søg efter loppemarked..."/>
        <Modal ButtonName="Tilføj nyt loppemarked" @ref="_child">
            <div>
                <h5>Hvor mange loppemarkeder ønsker I at oprette?</h5>
                <label>Antal loppemarkeder: </label>
                <input type="text" @bind-value="_tempEvents.EventAmount">
            </div>
            @if (_tempEvents.EventAmount > 0)
            {
                _tempEvents.Events.Clear();
                for (int i = 0; i < _tempEvents.EventAmount; i++)
                {
                    _tempEvents.Events.Add(new Event(DateTime.Today));
                }
                _tempEvents.EventAmount = 1;
            }
            <CreateEventForm EventList="_tempEvents" OnValidSubmit="CreateEvents" Modal="_child"></CreateEventForm>
        </Modal>
    </div>

    <!-- Creates event items for each event that matches the user's search term -->
    @if (_shownEvents is not null && _shownEvents.Any())
    {
        @foreach (var e in _shownEvents)
        {
            <div>
                <EventListItem Event="@e"></EventListItem>
            </div>
        }
    }
    else
    {
        <h2>Der er ingen loppemarkeder at vise...</h2>
    }
</div>


@code {
    
    public class EventList
    {
        public List<Event> Events { get; set; } = new();
        public int EventAmount { get; set; } = 1;
    }

    private EventList _tempEvents = new();
    private Modal _child = null!;
    private List<Event>? _events;
    private IEnumerable<Event>? _shownEvents;
    private string _lastSearchTerm = string.Empty;
    

    public async Task CreateEvents()
    {
        var q = _dbFactory.Update();
        foreach (var e in _tempEvents.Events)
        {
            q.New(e);
        }
        await q.Save();
        _child.ModalCancel();
        await UpdateEventList();
    }

    private async Task UpdateEventList()
    {
        _events = await _dbFactory.Get<BingoContext,Event>()
            .Include(e => e.Clusters)
            .ThenInclude<Cluster, IEnumerable<Table>>(c => c.Tables)
            .Include(e => e.Reservations)
            .All();
        Search(_lastSearchTerm);
    }

    public void Search(ChangeEventArgs e) => Search(e.Value?.ToString()?.ToLower() ?? "");
    
    public void Search(string searchTerm)
    {
        if (searchTerm == "")
        {
            _shownEvents = _events;
        }
        else
        {
            var results = from e 
                in _events 
                where e.Name.ToLower().Contains(searchTerm.ToLower()) 
                select e;
            _shownEvents = results;
        }

        _lastSearchTerm = searchTerm;
    }
    
    protected override async Task OnInitializedAsync()
    {
        await UpdateEventList();
        await base.OnInitializedAsync();
    }
}