@using Event = Flea.Models.Event;

@page "/"
@page "/Home"


<div>
    <div class="view-head">
        <input class="search-input" @bind-value="_searchTerm" @bind-value:event="oninput" placeholder="Søg efter loppemarked..."/>
        <Modal ButtonName="Tilføj nyt loppemarked" @ref="_child">
            <CreateEventForm EventList="_tempEvents" OnValidSubmit="AddEventItem" Modal="_child"></CreateEventForm>
        </Modal>
    </div>

    <!-- Creates event items for each event that matches the user's search term -->
    @if (DummyEventDB.Count == 0)
    {
        <h2>Der er ingen loppemarkeder at vise...</h2>
    }
    else if (FilteredEvents.Count == 0)
    {
        <h2>Der er ingen loppemarkeder, som matcher søgekriterierne...</h2>
    }
    else
    {
        foreach (Event e in FilteredEvents)
        {
            <div>
                <EventListItem Event="@e"></EventListItem>
            </div>
        }
    }
</div>

@code {
    public class EventList
    {
        public List<Event> Events { get; set; } = new List<Event>();
    }

    public EventList _tempEvents = new();
    Modal _child;
    private string _searchTerm { get; set; } = "";
    
    // Placeholder event database. 
    private List<Event> DummyEventDB = new();

    // List of events from database that match the search term.
    List<Event> FilteredEvents => 
        DummyEventDB.Where(i => i.DateTime.ToString().ToLower().Contains(_searchTerm.ToLower())).ToList();

    public void AddEventItem()
    {
        DummyEventDB.AddRange(_tempEvents.Events);
        DummyEventDB.Sort((x, y) => x.DateTime.CompareTo(y.DateTime));
        _child.ModalCancel();
    }

}