@page "/"
@page "/Home"

@inject IDbContextFactory<BingoContext> _dbFactory

@using Event = Flea.Models.Event;
@using Flea.Models
@using Flea.Utility
@using Microsoft.EntityFrameworkCore

<div>
    <div class="view-head">
        <input class="search-input" @bind-value="_searchTerm" @bind-value:event="oninput" placeholder="Søg efter loppemarked..."/>
        <Modal ButtonName="Tilføj nyt loppemarked" @ref="_child">
            <div>
                <h5>Hvor mange loppemarkeder ønsker I at oprette?</h5>
                <label>Antal loppemarkeder: </label>
                <input type="text" @bind-value="_tempEvents.EventAmount">
            </div>
            @if (_tempEvents.EventAmount > 0)
            {
                _tempEvents.Events.Clear();
                for (int i = 0; i < _tempEvents.EventAmount; i++)
                {
                    _tempEvents.Events.Add(new Event(DateTime.Today));
                }
                _tempEvents.EventAmount = 1;
            }
            <CreateEventForm EventList="_tempEvents" OnValidSubmit="CreateEvent" Modal="_child"></CreateEventForm>
        </Modal>
    </div>

    <!-- Creates event items for each event that matches the user's search term -->
    @if (_events.Count == 0)
    {
        <h2>Der er ingen loppemarkeder at vise...</h2>
    }
    else if (_filteredEvents.Count == 0)
    {
        <h2>Der er ingen loppemarkeder, som matcher søgekriterierne...</h2>
    }
    else
    {
        foreach (Event e in _filteredEvents)
        {
            <div>
                <EventListItem Event="@e"></EventListItem>
            </div>
        }
    }
</div>


@code {
    
    public class EventList
    {
        public List<Event> Events { get; set; } = new();
        public int EventAmount { get; set; } = 1;
    }

    private EventList _tempEvents = new();
    private Modal _child = null!;
    private string _searchTerm = "";
    private List<Event>? _events;

    // List of events from database that match the search term.
    private List<Event> _filteredEvents => 
        _events.Where(i => i.Name.ToLower().Contains(_searchTerm.ToLower())).ToList();

    public async Task CreateEvent(EditContext editContext)
    {
        foreach (Event e in _tempEvents.Events)
        {
            await _dbFactory.SaveNew(e);
        }
        _child.ModalCancel();
        await UpdateEventList();
    }

    private async Task UpdateEventList()
    {
        _events = await _dbFactory.GetAll<BingoContext, Event>();
    }

    protected override async Task OnInitializedAsync()
    {
        await UpdateEventList();
        await base.OnInitializedAsync();
    }
}