@page "/ReservationOverview"

@inject IDbContextFactory<BingoContext> _dbFactory

@using Reservation = Flea.Models.Reservation
@using Microsoft.EntityFrameworkCore
@using Flea.Models


@* <button class="button button--outline create-button" @onclick="NewReservation">Opret ny booking</button> *@

<div>
    <div class="view-head">
        <input class="search-input" type="search" value="" placeholder="Søg efter booking" @oninput="Search">
        <Modal ButtonName="Opret ny booking" @ref="_child">
            <ReservationForm Reservation="_temp" OnValidSubmit="CreateReservation" Modal="_child"></ReservationForm>
        </Modal>
    </div>
    @if (_shownReservation is not null && _shownReservation.Any())
    {
        @foreach (var reservation in _shownReservation)
        {
            <div>
                <ReservationUserListItem Reservation="reservation"
                                         OnDelete="@DeleteReservation"
                                         OnEdit="@EditReservation"/>
            </div>
        }
    }
    else
    {
        <h2>Der er ingen bookinger at vise...</h2>
    }
</div>

@code
{
    private Modal _child = null!;
    private Reservation _temp = new (0, 0, false, "",new Customer("", ""));
    private string _lastSearchTerm = string.Empty;

    private List<Reservation>? _reservations;
    private IEnumerable<Reservation>? _shownReservation;
    
    // Delete the reservation
    public async Task DeleteReservation(Reservation reservation)
    {
        await _dbFactory.Delete(reservation);
        await UpdateReservationList();
    }
    
    // Create new reservation
    public async Task CreateReservation(EditContext editContext)
    {
        await _dbFactory.SaveNew(_temp);
        _temp = new Reservation(0, 0, false, "", new Customer("", ""));
        _child.ModalCancel();
        await UpdateReservationList();
    }
    
    // Edits the reservation
    public void EditReservation(EditContext editContext)
    {
        // Insert method
    }

    // Searchbar function
    public void Search(ChangeEventArgs e) => Search(e.Value?.ToString() ?? "");
    
    public void Search(string searchTerm)
    {
        // If no input show everything
        if (searchTerm == "")
        {
            _shownReservation = _reservations;
        }
        else if (char.IsDigit(searchTerm[0]))
        {   // Finds by Booths
            _shownReservation = from c
                in _reservations
                where c.TableCount.ToString().Contains(searchTerm)
                select c;
        }
        else if (searchTerm.Contains("betalt"))
        {   // Finds by betalt or ej betalt
            _shownReservation = from c
                in _reservations
                where c.Paid != searchTerm.Contains("ej")
                select c;
        }
        else
        {// Finds by name
            _shownReservation = from c
                in _reservations
                where c.ReservationOwner.Name.ToLower().Contains(searchTerm)
                select c;
        }
        _lastSearchTerm = searchTerm;
    }
    
    private async Task UpdateReservationList()
    {
        await using var context = _dbFactory.CreateDbContext();
        _reservations = await context.Reservations.Include(r => r.ReservationOwner).ToListAsync();
        Search(_lastSearchTerm);
    }
    
    protected override async Task OnInitializedAsync()
    {
        await UpdateReservationList();
        await base.OnInitializedAsync();
    }
}